<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{groupName}}">
  <ion-content class="padding">
    <ion-list>
            <ion-item
            ng-repeat="user in activeUsers | filterByGroups:currentGroups"
            href="#/home/user/{{user.uid}}/{{groupName}}">
      <h2>{{user.Name}}</h2>
      <p><span ng-repeat="item in user | filterByTrue">{{item}} </span></p>
  </ion-item>
          </ion-list>
  </ion-content>
</ion-view>
