<ion-view view-title="Communities">
  <ion-content>
  <div ng-controller="LoadingCtrl">
    <ion-list>
      <ion-item ng-repeat="(groupName, value) in user.groups" href="#/home/group/{{groupName}}">
        {{groupName}}
        <ion-option-button class="button-positive" ng-click="show()">Activate</ion-option-button>
        <!-- <ion-option-button class="button-positive" ng-click="activateGroup(groupName)">Activate</ion-option-button> -->
      </ion-item>
<!--       <ion-item class="item-avatar" ng-repeat="friend in friends" type="item-text-wrap" href="#/tab/friend/{{friend.id}}">
        <img ng-src="{{friend.face}}">
        <h2>{{friend.name}}</h2>
      </ion-item> -->
    </ion-list>
  </div>
  </ion-content>
</ion-view>
