
<ion-nav-bar class="bar-positive">
  <ion-nav-back-button class="button-icon ion-arrow-left-c">
  </ion-nav-back-button>
</ion-nav-bar>


<ion-view>
       <ion-tabs class="tabs-icon-top tabs-positive">

         <ion-tab title="Communities" icon="ion-home" href="#/home/groups">
           <ion-nav-view name="tab-groups"></ion-nav-view>
         </ion-tab>

         <ion-tab title="Profile" icon="ion-person" href="#/home/profile">
           <ion-nav-view name="profile"></ion-nav-view>
         </ion-tab>

         <ion-tab title="Pings" icon="ion-thumbsup" href="#/home/profile">
           <ion-nav-view name="profile"></ion-nav-view>
         </ion-tab>

         <ion-tab title="Sign-Out" icon="ion-log-out" href="#/login">
         </ion-tab>

       </ion-tabs>
</ion-view>
